$small: 799px !default;
$medium: 1200px !default;
$base: 1399px !default;
$large: 1400px !default;
$hd: 1600px !default;

$small-down-landscape: "only screen and (max-width: #{$small}) and (orientation: landscape)" !default;
$small-down-portrait: "only screen and (max-width: #{$small}) and (orientation: portrait)" !default;
$medium-down-portrait: "only screen and (min-width: 800px) and (max-width: 1200px) and (orientation: portrait)" !default;
$medium-down-landscape: "only screen and (min-width: 800px) and (max-width: 1200px) and (orientation: landscape)" !default;
$base-up: "only screen and (min-width: 800px) and (max-width: 1399px)" !default;
$large-up: "only screen and (min-width: #{$large})" !default;
$hd-up: "only screen and (min-width: #{$hd})" !default;

